<p id="notice"><%= notice %></p>

<div class="header">
  <div class="header-logo">Rails Music</div>
    <ul>
      <li><%= link_to 'TOP', audios_path %></li>
      <li><%= link_to 'TO RECORD', audios_record_path %></li>
    </ul>
</div>

<br>

<div class="up-page">
  <h1><span>T</span>O <span>U</span>PLOAD</h1>

  <%= render 'form',audio: @audio %>
</div>

<br>

<% Audio.all.reverse_order.each do |upload| %>
  <tr>
    <td><%= link_to upload.title %></td>
    <td><%= link_to upload.file %></td><br>
  </tr>
  <td><%= audio_tag(upload.file ,  :controls => true) %></td>
<% end %>

<%= render 'footer' %>

<%= stylesheet_link_tag "audios/audios_up", :media => "all" %>