<p id="notice"><%= notice %></p>

<h1>To Upload</h1>

<%= render 'form',audio: @audio %>

<% Audio.all.reverse_order.each do |upload| %>
  <tr>
    <td><%= link_to upload.title %></td>
    <td><%= link_to upload.file %></td><br>
  </tr>
  <td><%= audio_tag(upload.file ,  :controls => true) %></td>
<% end %>

<br>

<%= link_to 'TOPへ戻る', audios_path %>
